body{
  background-color: #EAF6F6;
  background-size: cover;
  background-repeat: no-repeat;
}
hr
{
  background-color: none;
  border-color: grey;
  border-width: 5px;
  border-style: dotted none none;
  height: 0px;
  width: 50%;
}
h1
{
  color: #66BFBF;
}
h3
{
  color: #66BFBF;
}
